

#root{
    background-color: #EFF6FC;
    padding: 44px;
}

.mainFrame{
    display: grid;
    grid-template-columns: 133px 455px 1fr;
    height: 100vh;
    width: 100%;
    background-color: #EFF6FC;
    padding: 30px;
}

.menuInfo{
    padding: 0px 30px;
    position: relative;
    height: 100vh;
}