* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    background-color: #6E00FF;
    /* background: linear-gradient(#6E00FF,#172977,#ff0000); */
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.profilePhotoWrapper{
    margin-top: 30px;
    border-radius: 50%;
    margin-bottom: 40px;
    border: 4px solid #5322BC;
    width: 78px;
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuItem{
    margin-bottom: 15px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.menuItem_current{
    background: rgba(97, 45, 209, 0.9);
    border-right: 7px solid #F3B559;
    margin-bottom: 15px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.menuItem_current img{
    margin-right: -7px;
}
.logoutBtn{
    position: absolute;
    bottom: 40px;
    cursor: pointer;
}

.charAvatar{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
}

.avatar{
    width: 74px;
    height: 74px;
    border-radius: 50%;
}

.notice{
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    right: 50px;
    bottom: 25px;
}