.btn{
    outline: none;
    background: transparent;
    display: inline-block;
    cursor: pointer;
    width: 80px;
    padding: 5px;
    font-size: 16px;
    font-weight:400;
    border: rgb(125, 74, 189) 2px solid;
    border-radius: 10px;
    transition: 0.3s;
}
.btn:hover{
    color: #fff;
    background-color: rgb(125, 74, 189);
    transition: 0.3s;
}